spring:
  application:
    name: config-client
  cloud:
    bus:
      enabled: true
      trace:
        enabled: true
    config:
      label: master
      profile: dev
      discovery:
        enabled: true
        service-id: config-server
      #uri: http://localhost:8888
  rabbitmq:
    host: localhost
    username: guest
    password: guest
    port: 5672

management:
  endpoints:
    web:
      exposure:
        include: bus-refresh



eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8881
